<a href="https://colab.research.google.com/github/debmalyah/Python-for-Data-Science-Assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(np.random.randn(4,5),index=['Row1','Row2','Row3','Row4'],columns=["Column1","Column2","Column3","Column4","Column5"])

In [4]:
df.head()

       Column1   Column2   Column3   Column4   Column5
Row1  0.033381  0.408834 -0.374799 -0.653183  0.116857
Row2  0.711743  0.634539 -1.543841  0.507699  0.668963
Row3 -0.765884 -0.440251 -1.296314  0.457248 -0.576276
Row4 -2.708689 -0.486640 -0.199157 -0.361895  0.739794

In [5]:
df[['Column2', 'Column3']]

       Column2   Column3
Row1  0.408834 -0.374799
Row2  0.634539 -1.543841
Row3 -0.440251 -1.296314
Row4 -0.486640 -0.199157

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Row1 to Row4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  4 non-null      float64
 1   Column2  4 non-null      float64
 2   Column3  4 non-null      float64
 3   Column4  4 non-null      float64
 4   Column5  4 non-null      float64
dtypes: float64(5)
memory usage: 352.0+ bytes

In [7]:
df.describe()

        Column1   Column2   Column3   Column4   Column5
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean  -0.682362  0.029121 -0.853528 -0.012533  0.237335
std    1.479729  0.576493  0.665826  0.584187  0.609712
min   -2.708689 -0.486640 -1.543841 -0.653183 -0.576276
25%   -1.251585 -0.451848 -1.358196 -0.434717 -0.056426
50%   -0.366251 -0.015708 -0.835557  0.047677  0.392910
75%    0.202971  0.465261 -0.330889  0.469861  0.686671
max    0.711743  0.634539 -0.199157  0.507699  0.739794